name: Build and test robotframework-httpctrl library

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Clone repository
      uses: actions/checkout@v2

    - name: Run multi-line script
      shell: bash
      run: ci/github-ci.sh

    - name: Archive artifacts
      uses: actions/upload-artifact@v2
      with:
          name: SCT test reports
          path: |
              tst/log.html
              tst/output.xml
              tst/report.html
